body{
  height: 100%;
  overflow: hidden;
}

*{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#man-with-computer{
  position: relative;
  bottom: 700px; left: 900px;
}

#container{
  width: 100vw;
  height: 100vh;
  background-image: url(../images/olas.svg);
  background-size: cover;
  background-position: center;
}

#formulario{
  height: 100%;
  width: 400px;
  padding: 10px;
  text-align: center;
}

#formulario h2{
  color: cadetblue;
  font-weight: 800;
}

#formulario input, select{
  width: 300px;
  height: 30px;
  border-color: grey;
  border-style: solid;
  border-radius: 5px;
  padding-left: 15px;
}

#formulario .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
}

#formulario #cb-acepto{
  width: 30px;
}

#formulario button{
  color: white;
  background-color: cadetblue;
  border-style: none;
  border-radius: 50px;
  height: 45px;
  cursor: pointer;  
}

#recuperar-contraseña{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.logo{
  width: 200px;
  height: 200px;
}